Password reset w/OpenLDAP not chasing referrals

### Version


v4.39.6

### Deployment Method


Kubernetes

### Reverse Proxy


Traefik

### Reverse Proxy Version


3.5.3

### Description


Authelia does not appear to decode LDAP response from OpenLDAP to the password modify extended operation correctly.

On a password reset attempt, Authelia logs the following;

```
"level":"error","method":"POST","msg":"unable to update password. Cause: LDAP Result Code 10 \"Referral\": ","path":"/api/reset-password","remote_ip":"x.x.x.x","time":"2025-10-18T12:45:21Z"}
```

Looking at issue #4199, I can see this discussed previously. I believe the conclusion that this is an OpenLDAP bug is incorrect.

Here's the BER response (referral URI sanitised);

```
30 2e                 universal | constructed | ENUMERATION. 46 octets.
02 01 02            universal | primitive | INTEGER. 1 octet, value := 2.
78 29                 application class | constructed | tag=24 (extended operation response). 41 octets.
0a 01 0a             universal | primitive | ENUMERATED, 1 octet, value := 10  (referral).
04 00                    universal | primitive | OCTET STRING, 0 octets.
04 00                    universal | primitive | OCTET STRING, 0 octets.
a3 20                    context specific | constructed | 0x03, 32 octets.
04 1e                    universal | primitive | OCTET STRING, 30 octets.

6c 64 61 70 73 3a 2f 2f  6c 64 61 70 2e xx xx xx   ldaps://ldap.xxx
xx xx xx xx xx xx xx xx  xx xx 2e 6e 65 74         xxxxxxxxxx.net
```

In issue #4199, the 2nd item in the enumeration is an Extended Operation Response (RFC2251 section 4.12) & not a generalised time as was concluded in that issue (the tag has a different meaning when the class is application). The ldap/v3 module appears to [deal with that correctly](https://github.com/go-ldap/ldap/blob/97082cc14c15e471ce406e17acb3173e986e143d/v3/passwdmodify.go#L96), but in pwModify, we throw away the result and only test the returned error for referral.


### Reproduction


To reproduce, you'd require a read-only OpenLDAP replica (I'm running version 2.5.13) with the olcUpdateRef set on your database backend. ie;

```
dn: olcDatabase={1}mdb,cn=config
changetype: modify
add: olcUpdateRef
olcUpdateRef: ldaps://ldap.example.net
```

You can then use the "Reset Password?" link in Authelia & observe behaviour. You can also mimic this behaviour with the `ldappassword` tool. ie;

```
ldappasswd -x -D "cn=authelia,ou=services,dc=example,dc=net" -W -H ldaps://ds.example.net -S "uid=grant,cn=users,dc=example,dc=net" -d-1
```

### Expectations


_No response_

### Configuration (Authelia)


```yaml
---
theme: 'auto'
default_2fa_method: 'totp'
server:
  address: 'tcp://0.0.0.0:9091/'
  asset_path: ''
  headers:
    csp_template: ""
  buffers:
    read: 4096
    write: 4096
  timeouts:
    read: '6 seconds'
    write: '6 seconds'
    idle: '30 seconds'
  endpoints:
    enable_pprof: false
    enable_expvars: false
    authz:
      auth-request:
        implementation: 'AuthRequest'
      ext-authz:
        implementation: 'ExtAuthz'
      forward-auth:
        implementation: 'ForwardAuth'
log:
  level: 'info'
  format: 'json'
  file_path: ''
  keep_stdout: true
telemetry:
  metrics:
    enabled: false
definitions:
  network:
    private:
    - '192.168.0.0/24'
    wireguard:
    - '192.168.18.0/24'
  user_attributes:
    is_admin:
      expression: '"admins" in groups'
identity_validation:
  elevated_session:
    code_lifespan: '5 minutes'
    elevation_lifespan: '10 minutes'
    characters: 8
    require_second_factor: true
    skip_second_factor: false
  reset_password:
    jwt_lifespan: '5 minutes'
    jwt_algorithm: 'HS256'
totp:
  disable: false
  issuer: 'Authelia'
  skew: 1
  secret_size: 32
  algorithm: 'SHA1'
  digits: 6
  period: 30
  allowed_algorithms:
    - 'SHA1'
  allowed_digits:
    - 6
  allowed_periods:
    - 30
webauthn:
  disable: false
  enable_passkey_login: true
  display_name: 'Authelia'
  attestation_conveyance_preference: 'indirect'
  timeout: '60 seconds'
  filtering:
    permitted_aaguids: []
    prohibited_aaguids: []
    prohibit_backup_eligibility: false
  selection_criteria:
    attachment: ''
    discoverability: 'preferred'
    user_verification: 'preferred'
  metadata:
    enabled: false
    cache_policy: 'strict'
    validate_trust_anchor: true
    validate_entry: true
    validate_entry_permit_zero_aaguid: false
    validate_status: true
    validate_status_permitted: []
    validate_status_prohibited: []
duo_api:
  hostname: 'xxxxxxxxxxxxxxxxxxxxxxxxxxxx'
  integration_key: 'zzzzzzzzzzzzzzzzzzzz'
  enable_self_enrollment: false
ntp:
  address: 'udp://192.168.0.1:123'
  version: 4
  max_desync: '3 seconds'
  disable_startup_check: false
  disable_failure: false
authentication_backend:
  password_reset:
    disable: false
    custom_url: ''
  password_change:
    disable: false
  refresh_interval: '5 minutes'
  ldap:
    implementation: 'custom'
    address: 'ldaps://ds.example.net'
    timeout: '5 seconds'
    start_tls: false
    tls:
      server_name: ''
      skip_verify: true
      minimum_version: 'TLS1.2'
      maximum_version: 'TLS1.3'
    pooling:
      enable: false
      count: 5
      retries: 2
      timeout: '10 seconds'
    base_dn: 'dc=example,dc=net'
    additional_users_dn: 'cn=users'
    users_filter: '(&(objectClass=inetOrgPerson)(|({mail_attribute}={input})({username_attribute}={input})))'
    additional_groups_dn: 'cn=roles'
    groups_filter: '(&(uniqueMember={dn})(objectClass=groupOfUniqueNames))'
    group_search_mode: 'filter'
    permit_referrals: true
    permit_unauthenticated_bind: false
    permit_feature_detection_failure: false
    user: 'cn=authelia,ou=services,dc=example,dc=net'
    attributes:
      distinguished_name: 'dn'
      username: 'uid'
      display_name: 'displayName'
      family_name: 'sn'
      given_name: 'givenName'
      middle_name: ''
      nickname: ''
      gender: ''
      birthdate: ''
      website: ''
      profile: ''
      picture: ''
      zoneinfo: ''
      locale: ''
      phone_number: ''
      phone_extension: ''
      street_address: 'postalAddress'
      locality: ''
      region: ''
      postal_code: ''
      country: ''
      mail:  'mail'
      member_of:  'memberOf'
      group_name:  'cn'
password_policy:
  standard:
    enabled: true
    min_length: 14
    max_length: 0
    require_uppercase: true
    require_lowercase: true
    require_number: true
    require_special: true
  zxcvbn:
    enabled: false
    min_score: 0
session:
  name: 'authelia_session'
  same_site: 'lax'
  inactivity: '5 minutes'
  expiration: '1 hour'
  remember_me: '1 month'
  cookies:
    - domain: 'example.net'
      authelia_url: 'https://auth.example.net'
regulation:
  modes:
  - 'user'
  - 'ip'
  max_retries: 3
  find_time: '2 minutes'
  ban_time: '15 minutes'
storage:
  postgres:
    address: 'tcp://authelia-rw.cnpg-authelia.svc.cluster.local:5432'
    servers: []
    timeout: '5 seconds'
    database: 'authelia'
    schema: 'public'
    username: 'authelia'
notifier:
  disable_startup_check: false
  smtp:
    address: 'submission://smtp.example.net:587'
    timeout: '5 seconds'
    username: 'authelia'
    sender: 'Authelia <no-reply@example.net>'
    identifier: 'auth.example.net'
    subject: '[Authelia] {title}'
    startup_check_address: 'test@authelia.com'
    disable_html_emails: false
    disable_require_tls: false
    disable_starttls: false
    tls:
      server_name: ''
      skip_verify: false
      minimum_version: 'TLS1.2'
      maximum_version: 'TLS1.3'
identity_providers:
  oidc:
    lifespans:
      access_token: '1 hour'
      refresh_token: '1 hour and 30 minutes'
      id_token: '1 hour'
      authorize_code: '1 minute'
      device_code: '10 minutes'
    enforce_pkce: 'public_clients_only'
    enable_pkce_plain_challenge: false
    enable_client_debug_messages: false
    enable_jwt_access_token_stateless_introspection: false
    minimum_parameter_entropy: 8
    discovery_signed_response_alg: ''
    discovery_signed_response_key_id: ''
    require_pushed_authorization_requests: false
    claims_policies:
      legacy:
        id_token:
        - 'email'
        - 'email_verified'
        - 'alt_emails'
        - 'name'
        - 'preferred_username'
        - 'groups'
        id_token_audience_mode: 'specification'
    jwks:
      - algorithm: 'RS256'
        use: 'sig'
        key_id: 'default'
        key: {{ secret "/secrets/jwk-rsa/private.pem" | mindent 10 "|" | msquote }}
    cors:
      endpoints:
      - 'userinfo'
      - 'authorization'
      - 'token'
      - 'revocation'
      - 'introspection'
      allowed_origins_from_client_redirect_uris: false
    clients:
      - client_id: 'KzZlB4v6PF7MW~FpJDc2EQhg-mgHzlNEo2wnv4NZ~ljD5QcgmnQE9QmhOByYNkJp1HGggsVl'
        client_name: 'Family Cloud'
        client_secret: '{{ secret "/secrets/oidc-client/nextcloud" }}'
        public: false
        redirect_uris:
          - 'https://nextcloud.example.net/apps/user_oidc/code'
        scopes:
          - 'openid'
          - 'profile'
          - 'email'
          - 'groups'
        grant_types:
          - 'authorization_code'
        response_types:
          - 'code'
        authorization_policy: 'one_factor'
        consent_mode: 'auto'
        require_pushed_authorization_requests: false
        require_pkce: true
        pkce_challenge_method: 'S256'
        authorization_signed_response_alg: 'RS256'
        authorization_signed_response_key_id: ''
        authorization_encrypted_response_key_id: ''
        authorization_encrypted_response_alg: ''
        authorization_encrypted_response_enc: ''
        id_token_signed_response_alg: 'RS256'
        id_token_signed_response_key_id: ''
        id_token_encrypted_response_key_id: ''
        id_token_encrypted_response_alg: ''
        id_token_encrypted_response_enc: ''
        access_token_signed_response_alg: 'none'
        access_token_signed_response_key_id: ''
        access_token_encrypted_response_key_id: ''
        access_token_encrypted_response_alg: ''
        access_token_encrypted_response_enc: ''
        userinfo_signed_response_alg: 'none'
        userinfo_signed_response_key_id: ''
        userinfo_encrypted_response_key_id: ''
        userinfo_encrypted_response_alg: ''
        userinfo_encrypted_response_enc: ''
        introspection_signed_response_alg: 'none'
        introspection_signed_response_key_id: ''
        introspection_encrypted_response_key_id: ''
        introspection_encrypted_response_alg: ''
        introspection_encrypted_response_enc: ''
        introspection_endpoint_auth_method: 'client_secret_basic'
        introspection_endpoint_auth_signing_alg: 'RS256'
        request_object_signing_alg: ''
        request_object_encryption_alg: 'none'
        request_object_encryption_enc: ''
        token_endpoint_auth_method: 'client_secret_post'
        token_endpoint_auth_signing_alg: ''
        revocation_endpoint_auth_method: 'client_secret_basic'
        revocation_endpoint_auth_signing_alg: 'RS256'
        pushed_authorization_request_endpoint_auth_method: 'client_secret_basic'
        pushed_authorization_request_endpoint_auth_signing_alg: 'RS256'
      - client_id: 'st8HGRNIaZKl9QIGhxGNd.7xpiPL8VvV~FxAuAXpXI8m4hEK4dJn01yUXXAc.Alp0W2dpky9'
        client_name: 'Family Wiki'
        client_secret: '{{ secret "/secrets/oidc-client/wikijs" }}'
        public: false
        redirect_uris:
          - 'https://wikijs.example.net/login/3ba7fed3-b664-4fe6-ab75-cfb212232003/callback'
        scopes:
          - 'openid'
          - 'profile'
          - 'email'
        grant_types:
          - 'authorization_code'
        response_types:
          - 'code'
        authorization_policy: 'one_factor'
        consent_mode: 'auto'
        require_pushed_authorization_requests: false
        require_pkce: false
        pkce_challenge_method: ''
        authorization_signed_response_alg: 'RS256'
        authorization_signed_response_key_id: ''
        authorization_encrypted_response_key_id: ''
        authorization_encrypted_response_alg: ''
        authorization_encrypted_response_enc: ''
        id_token_signed_response_alg: 'RS256'
        id_token_signed_response_key_id: ''
        id_token_encrypted_response_key_id: ''
        id_token_encrypted_response_alg: ''
        id_token_encrypted_response_enc: ''
        access_token_signed_response_alg: 'none'
        access_token_signed_response_key_id: ''
        access_token_encrypted_response_key_id: ''
        access_token_encrypted_response_alg: ''
        access_token_encrypted_response_enc: ''
        userinfo_signed_response_alg: 'none'
        userinfo_signed_response_key_id: ''
        userinfo_encrypted_response_key_id: ''
        userinfo_encrypted_response_alg: ''
        userinfo_encrypted_response_enc: ''
        introspection_signed_response_alg: 'none'
        introspection_signed_response_key_id: ''
        introspection_encrypted_response_key_id: ''
        introspection_encrypted_response_alg: ''
        introspection_encrypted_response_enc: ''
        introspection_endpoint_auth_method: 'client_secret_basic'
        introspection_endpoint_auth_signing_alg: 'RS256'
        request_object_signing_alg: ''
        request_object_encryption_alg: 'none'
        request_object_encryption_enc: ''
        token_endpoint_auth_method: 'client_secret_post'
        token_endpoint_auth_signing_alg: ''
        revocation_endpoint_auth_method: 'client_secret_basic'
        revocation_endpoint_auth_signing_alg: 'RS256'
        pushed_authorization_request_endpoint_auth_method: 'client_secret_basic'
        pushed_authorization_request_endpoint_auth_signing_alg: 'RS256'
access_control:
  default_policy: 'deny'
  rules:
    - policy: two_factor
      domain:
        - '*.example.net'
      subject:
        - ['group:admins']
        - ['group:moderators']
    - policy: one_factor
      domain:
        - '*.example.net'
      networks:
        - private
        - wireguard
    - policy: two_factor
      domain:
        - '*.example.net'
```

### Build Information


```shell
Last Tag: v4.39.6
State: tagged clean
Branch: v4.39.6
Commit: 79f719d4dc7ef2dbc4188af12973e83a18be8832
Build Number: 47502
Build OS: linux
Build Arch: amd64
Build Compiler: gc
Build Date: Sat, 09 Aug 2025 18:03:19 +1000
Development: false
Extra:

Go:
    Version: go1.24.6 X:nosynchashtriemap
    Module Path: github.com/authelia/authelia/v4
    Executable Path: github.com/authelia/authelia/v4/cmd/authelia
```

### Logs (Authelia)


```shell
time="2025-10-19T09:40:07Z" level=info msg="Authelia v4.39.6 is starting"
time="2025-10-19T09:40:07Z" level=info msg="Log severity set to debug"
{"level":"debug","msg":"Registering OpenID Connect 1.0 client with client id 'KzZlB4v6PF7MW~FpJDc2EQhg-mgHzlNEo2wnv4NZ~ljD5QcgmnQE9QmhOByYNkJp1HGggsVl' and policy 'one_factor'","time":"2025-10-19T09:40:07Z"}
{"level":"debug","msg":"Registering OpenID Connect 1.0 client with client id 'st8HGRNIaZKl9QIGhxGNd.7xpiPL8VvV~FxAuAXpXI8m4hEK4dJn01yUXXAc.Alp0W2dpky9' and policy 'one_factor'","time":"2025-10-19T09:40:07Z"}
{"level":"info","msg":"Storage schema is being checked for updates","time":"2025-10-19T09:40:08Z"}
{"level":"info","msg":"Storage schema is already up to date","time":"2025-10-19T09:40:08Z"}
{"level":"debug","msg":"LDAP Supported OIDs. Control Types: 2.16.840.1.113730.3.4.9, 1.2.840.113556.1.4.473, 1.3.6.1.4.1.4203.1.9.1.1, 2.16.840.1.113730.3.4.5, 2.16.840.1.113730.3.4.4, 1.3.6.1.4.1.42.2.27.9.5.8, 1.3.6.1.4.1.42.2.27.8.5.1, 2.16.840.1.113730.3.4.18, 2.16.840.1.113730.3.4.2, 1.3.6.1.4.1.4203.1.10.1, 1.3.6.1.1.22, 1.2.840.113556.1.4.319, 1.2.826.0.1.3344810.2.3, 1.3.6.1.1.13.2, 1.3.6.1.1.13.1, 1.3.6.1.1.12. Extensions: 1.3.6.1.4.1.1466.20037, 1.3.6.1.4.1.4203.1.11.1, 1.3.6.1.4.1.4203.1.11.3, 1.3.6.1.1.8, 1.3.6.1.1.21.3, 1.3.6.1.1.21.1","time":"2025-10-19T09:40:08Z"}
{"level":"debug","msg":"webauthn-metadata provider: startup check skipped as it is disabled","time":"2025-10-19T09:40:08Z"}
{"level":"info","msg":"Startup complete","time":"2025-10-19T09:40:08Z"}
{"level":"info","msg":"Listening for non-TLS connections on '[::]:9091' path '/'","server":"main","service":"server","time":"2025-10-19T09:40:08Z"}
{"level":"debug","method":"POST","msg":"Sending an email to user grant.byers@example.net (grant.byers@example.net) to confirm identity for registering a device.","path":"/api/reset-password/identity/start","remote_ip":"192.168.0.100","time":"2025-10-19T09:43:04Z"}
{"level":"error","method":"POST","msg":"unable to update password. Cause: LDAP Result Code 10 \"Referral\": ","path":"/api/reset-password","remote_ip":"192.168.0.100","stack":[{"File":"github.com/authelia/authelia/v4/internal/middlewares/authelia_context.go","Line":78,"Name":"(*AutheliaCtx).Error"},{"File":"github.com/authelia/authelia/v4/internal/handlers/handler_reset_password.go","Line":161,"Name":"ResetPasswordPOST"},{"File":"github.com/authelia/authelia/v4/internal/middlewares/bridge.go","Line":66,"Name":"handlerMain.(*BridgeBuilder).Build.func7.1"},{"File":"github.com/authelia/authelia/v4/internal/middlewares/headers.go","Line":65,"Name":"SecurityHeadersCSPNone.func1"},{"File":"github.com/authelia/authelia/v4/internal/middlewares/headers.go","Line":105,"Name":"SecurityHeadersNoStore.func1"},{"File":"github.com/authelia/authelia/v4/internal/middlewares/headers.go","Line":30,"Name":"SecurityHeadersBase.func1"},{"File":"github.com/fasthttp/router@v1.5.4/router.go","Line":441,"Name":"(*Router).Handler"},{"File":"github.com/authelia/authelia/v4/internal/middlewares/log_request.go","Line":14,"Name":"handlerMain.LogRequest.func30"},{"File":"github.com/authelia/authelia/v4/internal/middlewares/errors.go","Line":38,"Name":"RecoverPanic.func1"},{"File":"github.com/valyala/fasthttp@v1.64.0/server.go","Line":2455,"Name":"(*Server).serveConn"},{"File":"github.com/valyala/fasthttp@v1.64.0/workerpool.go","Line":225,"Name":"(*workerPool).workerFunc"},{"File":"github.com/valyala/fasthttp@v1.64.0/workerpool.go","Line":197,"Name":"(*workerPool).getCh.func1"},{"File":"runtime/asm_amd64.s","Line":1700,"Name":"goexit"}],"time":"2025-10-19T09:43:48Z"}
```

### Logs (Proxy / Application)


```shell

```

### Documentation


Note the extended operation result syntax - https://ldap.com/ldapv3-wire-protocol-reference-extended/

### Generative AI


No

### Pre-Submission Checklist


- [x] I agree to follow the [Code of Conduct](http://www.authelia.com/code-of-conduct)

- [x] This is a bug report and not a support request

- [x] I have read the security policy and this bug report is not a security issue or security related issue

- [x] I have either included the complete configuration file or I am sure it's unrelated to the configuration

- [x] I have either included the complete debug / trace logs or the output of the build-info command if the logs are not relevant

- [x] I have provided all of the required information in full with the only alteration being reasonable sanitization in accordance with the [Troubleshooting Sanitization](https://www.authelia.com/r/sanitize) reference guide

- [x] I have checked for related proxy or application logs and included them if available

- [x] I have checked for related issues and checked the documentation


I'll take a closer look at this over the weekend, if it's indeed returning the referral error type then it will be easy, if it is not then we can simply handball it upstream.